.DS_Store
node_modules
/dist

# local env images
.env.local
.env.*.local

# Log images
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and images
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
